---
import type { GetStaticPaths } from "astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import Typedpost from "@/components/blog/Typedpost.astro";
import { Image } from "astro:assets";

export const getStaticPaths = async () => {
  const [authors, posts] = await Promise.all([
    getCollection("author"),
    getCollection("blog"),
  ]);
  return authors.map((author) => ({
    params: { author: author.id },
    props: {
      blogPosts: posts.filter((post) => post.data.author.id === author.id),
      author: author.data,
    },
  }));
};

const { blogPosts, author } = Astro.props;
---

<BlogLayout title={author.name}>
  <section class="max-w-[75rem] mx-auto px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div class="text-md text-gray-400 mb-0 flex flex-row mt-2">
      <Image
        class="rounded-full"
        src={author.avatar}
        alt={author.name}
        width={50}
        height={50}
      />

      <div class="flex flex-col ml-5">
        <a>{author.name}</a>
        <span>Listado de todos mis posts</span>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-10 md:grid-cols-2">
      {blogPosts.map((post) => <Typedpost post={post} />)}
    </div>
  </section>
</BlogLayout>
